@import "mixins";
@import "media_queries";

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Vollkorn);

body{
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	max-width: 60em;
	margin: auto;
}

p{
	font-family: 'Vollkorn', serif;
	text-transform: none;
	max-width: 22em;
	margin: auto;
	font-size: 1.2em;
	padding: .5em 1em;
	
	&.intro{
		margin-top: .5em;
		font-size: 1.5em;
	}
}

a{
	color: black;
	text-decoration: underline;
	letter-spacing: .05em;
}

header, footer{
	text-align: center;
	clear: both;
}

footer{
	margin-top: 2em;
}

h1, h1 a{
	text-decoration: none;
	color: black;
	font-size: 4.5rem;
	letter-spacing: -.03em;
	word-spacing: .1em;
	margin: 0;
	padding: 0;
	line-height: .8em;
}

h2{
	margin: 0;
	padding: 0;
	line-height: 1em;
	text-align: right;
	font-size: 2.5rem;
}

#title{
	display: table;
	margin: auto;
}

#menu{
	text-align: right;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.5rem;
	
	a{
		margin-right: .5em;
	}
	
	a:last-child{
		margin-right: 0;
	}
}


section{
	width: 100%;
	margin: 2em auto 4em auto;
	clear: both;
	float: none;
	display: table;
	text-align: center;
	
	img{
		// margin: .5em 0 0 0;
		max-width: 90%;
		width: auto;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
	}
	
	.text{
		display: inline-block;
		text-align: left;
		vertical-align: top;
		
		.date{
			text-transform: uppercase;
			padding: 0 1em;
		}
	}
	
	@include min-screen(960){
		
		&:nth-child(odd){		
			img{
				float: left;
			}

			.text{
				float: right;
			}
		}

		&:nth-child(even){
			img{
				float: right;
			}

			.text{
				float: left;
			}
		}
	}

	
}