@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Vollkorn);
/* line 6, all.css.scss */
body {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  max-width: 60em;
  margin: auto; }

/* line 13, all.css.scss */
p {
  font-family: "Vollkorn", serif;
  text-transform: none;
  max-width: 22em;
  margin: auto;
  font-size: 1.2em;
  padding: 0.5em 1em;
  position: relative; }
  /* line 22, all.css.scss */
  p.intro {
    margin-top: .5em;
    font-size: 1.5em;
    margin-bottom: 2em;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif; }
    /* line 29, all.css.scss */
    p.intro:after {
      content: '';
      width: 20%;
      border-bottom: solid 3px black;
      position: absolute;
      bottom: 0;
      left: 40%; }

/* line 40, all.css.scss */
a {
  color: black;
  text-decoration: underline;
  letter-spacing: .05em; }

/* line 46, all.css.scss */
header, footer {
  text-align: center;
  clear: both; }

/* line 51, all.css.scss */
footer {
  margin-top: 2em; }

/* line 55, all.css.scss */
h1, h1 a {
  text-decoration: none;
  color: black;
  font-size: 4.5rem;
  letter-spacing: -.03em;
  word-spacing: .1em;
  margin: 0;
  padding: 0;
  line-height: .8em; }

/* line 66, all.css.scss */
h2 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  text-align: right;
  font-size: 2.5rem; }

/* line 74, all.css.scss */
#title {
  display: table;
  margin: auto; }

/* line 79, all.css.scss */
#menu {
  text-align: right;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2rem;
  text-transform: none; }
  /* line 87, all.css.scss */
  #menu a {
    margin-right: .5em; }
  /* line 91, all.css.scss */
  #menu a:last-child {
    margin-right: 0; }

/* line 97, all.css.scss */
section {
  width: 100%;
  margin: 2em auto 4em auto;
  clear: both;
  float: none;
  display: table;
  text-align: center; }
  /* line 105, all.css.scss */
  section a.linked_image {
    position: relative;
    display: table;
    margin: auto; }
    /* line 110, all.css.scss */
    section a.linked_image:hover:after {
      content: 'open full image';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      padding: .2em;
      margin: .5em;
      background: white;
      color: black;
      letter-spacing: .1em;
      border-radius: .3em; }
    /* line 124, all.css.scss */
    section a.linked_image img {
      max-width: 100%;
      width: 500px;
      height: auto;
      border-radius: .4em; }
  /* line 132, all.css.scss */
  section .text {
    display: inline-block;
    text-align: left; }
    /* line 136, all.css.scss */
    section .text .date {
      text-transform: uppercase;
      padding: 0 1em; }
  @media screen and (min-width: 960px) {
    /* line 145, all.css.scss */
    section:nth-child(odd) a.linked_image {
      float: left; }
    /* line 149, all.css.scss */
    section:nth-child(odd) .text {
      float: right; }
    /* line 155, all.css.scss */
    section:nth-child(even) a.linked_image {
      float: right; }
    /* line 159, all.css.scss */
    section:nth-child(even) .text {
      float: left; } }

/* line 169, all.css.scss */
.index p.intro:before, .index p.intro:after {
  display: none; }

/* line 176, all.css.scss */
#projects a.project {
  width: 10em;
  display: inline-block;
  text-decoration: none; }
