---
title: Cute Post
description: This is how I made Cute Post. :-). Enjoy. This is how I made Cute Post. :-). Enjoy.
order: 1
---

%section
	.text
		.date 31 Jan 2012
		%p=lorem.sentences 3
	= linked_image 'cute-post-1.jpg'


%section
	.text
		.date 31 Jan 2012
		%p=lorem.sentences 3
	= linked_image 'cute-post-2.jpg'


